<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="CosmosEndPoint" value="https://empcosmosdb.documents.azure.com:443/"/>
    <add key ="CosmosMasterkey" value="pT9RGrpCKwE7VdJ4pNiwJODjXpckMyoVdwvFrwY1dgVcQXzLFUUX8a4icbbIenUj2S9pXWSo4ygnOVk3s0Xuvg=="/>
  </appSettings>
</configuration>